.nobullets {
    list-style-type: none;
}

.nobullets li {
    margin: 8px auto;
}

div {
    border-radius: 20px;
}

.photo {
    background-color: none;
    margin-top: 40px;
}

.photo img {
    border-radius: 10%;
    width: 200px;
    height: 200px;
    position: relative;
    left: 10px;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 700px;
}

.left {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.photo {
    width: 50%;
    height: 200px;
    margin: 20px auto;
}

.detail {
    width: 50%;
    background-color: white;
    margin: 60px auto;
}

.detail .line {
    display: flex;
    padding-left: 25px;
}

.detail p {
    font-weight: bolder;
}

.vl {
    border-left: 3px solid white;
    height: 107%;
}

.right {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 50px;
}

.right .row {
    display: flex;
    flex-direction:row;
    padding-top: 20px;
    margin-bottom: 20px;
}


.right p{
    margin-top: 10px;
    margin-left:20px;
}

.right .NextButton {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.right .factor1{
    background-color: white;
    height: 200px;
    width: 40%;
    margin-right: 10px;
}

.right .factor2 {
    background-color: white;
    height: 200px;
    width: 50%;
    margin-left: 10px;
}

.right .factor3 {
    background-color: white;
    height: 100px;
    width: 80%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.right .factor4 {
    background-color: white;
    height: 200px;
    width: 70%;
    margin-top: 20px;
}

.factor1, .factor2, .factor3, .factor4, .detail {
    box-shadow: 0 2px 5px #ccc;
}

.backButton {
    position: absolute;
    bottom: 20px;
    left: 10px;
}
