.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 5rem;
  background-color: white;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  cursor: pointer;

}

.monash_icon {
  align-items: center;
  position: relative;
  left: -100px;
  margin-right: 10px;
}


.buttons {
  margin: 0 20px;
  justify-content: space-evenly;
  position: relative;
  left: 30px
}

.buttons span {
  color: black;
  margin: 0 45px;
  font-size: 21px;
}

:link {
  text-decoration: none;

}

.buttons span :hover {
  text-decoration: underline;
}

.buttons span a {
  color: black;
}