.main {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 170px;
}

.main h2 {
    margin: 2rem auto;
    color: #2E7BED;
}

.main p {
    margin-top: 40px;
    text-align: center;
    padding-bottom: 40px;
    color: #2E7BED;
}

.button {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 400px;
    left: 25%;
    padding-top: 10px;
    width: 50%;
    align-items: center;
    padding-bottom: 50px;
}

