.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: rgb(237, 237, 237);
    color: black;
    padding: 0.75rem 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  
  .button:hover,
  .button:active {
    background-color: #2E7BED;
    color: white;
  }