.item {
    background: white;
    display: flex;
    flex-direction: row;
    min-width: 100px;
    min-height: 50px;
    margin: 10px 20px;
    white-space: pre-wrap;
    word-wrap: normal;
}

.item button {
    width: 30px;
    height: 20px;
    color:  #f5ba13;
    outline: none;
    border: none;
    background-color: none;
    background: none;
    margin-top: 10px;
    margin-left: 5px;
}

.item button:hover {
    text-decoration: underline;
}