.main hr {
    border-top: 2px solid white;
}

.main .bottom {
    min-height: 200px;
    display: flex;
    flex-direction: row;
}

.bottom .right {
    position: relative;
    left: 50px;
}

.Buttons {
    display: inline-flex;
    bottom: 20px;
    width: 100%;
}

.right{
    border: 5px solid white;
    padding: 7px;
    min-width: 500px;
    position: relative;
    top: 20px;
}

.right h4 {
    position: relative;
    top: -20px;
}

.BackButton {
    position: absolute;
    bottom: 30px;
}
.NextButton {
    position: absolute;
    right: 20px;
    bottom: 30px;
}

h4, h2{
    padding-left: 20px;
}

.factorList {
    padding-top: 0;
    position: relative;
    top: -20px;
}