.main hr {
    border-top: 2px solid white;
}

.domain {
    position: relative;
    left: 40px;
}

.domain input {
    padding: 5px 15px;
    display: block;
    font-size: 15px;
    text-align: center;
    border: 0;
    border-radius: 5px;
    height: 30px;
    width: 250px;
    margin-top: 30px;
}

.domain button {
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 5px 10px;
    border-radius: 3px;
    margin-top: 30px;
    color: #50a3a2;
    width: 100px;
    font-size: 15px;
}

.Buttons {
    display: inline-flex;
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.NextButton {
    position: absolute;
    right: 20px;
}