.main {
    display: flex;
    margin-top: 0px;
    height: max-content;
}

.left {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 40px;
    margin-top: 40px;
}

.left h2{
    margin-bottom: 20px;    
}

.left .domain {
    
}

.left select {
    width: 40%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.left .factor {
    margin-top: 100px;
}

.right {
    margin-top: 40px;
    width: 50%
}