.personas {
  max-width: 50rem;
  width: 90%;
  margin: 10rem auto;
  animation: personas-appear 1s ease-out forwards;
}

.personas ul {
  list-style: none;
  margin: 0;
  padding: 0;
}



@keyframes personas-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
